html {
    background-color: rgb(87, 84, 84);
    text-align: center;
    font-family: "Lexend Mega", sans-serif;
    font-size: 22px;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    padding: 1.5rem;
    border-radius: 30%;
    height: 10rem;
}

body {
    margin: 0;
}

h1 {
    color: white;
    text-shadow: -2px -2px 3px black;
    letter-spacing: 0.1rem;
    padding-right: 1.5rem;
}

#button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-button {
    padding: 0.5%;
    border: 0.15rem solid white;
    box-shadow: 0.2rem 0.2rem 0.25rem black;
    border-radius: 0.5rem;
    width: 26%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}

.nav-button a {
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#proiecte,#expertiza,#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -2px -2px 3px black;
}

.nav-button a:hover {
    color: black;
    text-decoration: none;
}
.nav-button:hover {
    background-color: white;
    font-weight: bolder;
}

.nav-button:active {
    background-color: black;
    box-shadow: 0.2rem 0.2rem 0.25rem white;
    text-shadow: 2px 2px 3px white;
}

.nav-button a:active {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
}

#content {
    background-image: url("./lathe.png");
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3%;
    letter-spacing: 0.2rem;
}

#statement{
    width: 100%;
    background-color: rgba(87, 84, 84, 0.6);
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-shadow: -2px -2px 3px black;
}

#map-label {
    padding: 0;
    color: white;
    text-shadow: -2px -2px 3px black;
}

iframe {
    width: 85%;
}

.foot {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    color: white;
    text-shadow: -2px -2px 3px black;
}

@media only screen and (max-width: 580px) {
    #header-container {
        display: block;
    }

    #logo {
        padding: 1rem;
    }

    h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1rem;
    }
    
    #button-container {
        display: flex;
        align-content: center;
        margin-left: 0.2rem;
}
    .nav-button {
        margin-top: 4%;
        margin-bottom: 4%;
        width: 80%;
        height: 2.5rem;
    }
}
